.row {
  width: 120rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  overflow: hidden;
  // overflow-x: scroll;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  &__title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    left: 0;
    transition: left 1s ease;
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1.2rem;
  &__prev {
    margin-right: 1rem;
    &:active {
      transform: translateX(-1px);
    }
  }
  &__next {
    &:active {
      transform: translateX(1px);
    }
  }
}
